<% provide(:title, 'Towns') %>
<h1>Hotels</h1>
<div class="container">
	<div class = "jumbotron">
		<%  @town.each do |t| %>
        <%= t.name %>
      <% if t.hotels.any? %>
        <div class="panel panel-default">
          <div class="panel-boby">
            <% t.hotels.each do |hotels| %>
              <div class = "jumbotron">
                <%= hotels.name %>

              </div>
      <% end %>
      <% else %>
        <p>No hotels added</p>
      <% end %>
          </div>
        </div>
      <% end %>
  </div>
</div>
       


